/* Globales */

:root{
    --principal: black;
    --blanco: white;
    --secundario: darkcyan;
    --opaco: grey;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-family: 'Dosis', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

a {
    text-decoration: none;
    color: var(--principal);
}

img{
    max-width: 100%;
    display: block;
}

.contenedor{
    max-width: 100rem;
    margin: 0 auto;
}

h1, h2, h3{
    font-family: 'Abril Fatface', cursive;
    margin: 0 0 5rem 0;
}

h1{
    font-size: 5rem;
}

h2{
    font-size: 4rem;
}

h3{
    font-size: 3rem;
}


/* Header */

.nombre-principal{
    padding: 3rem;
    text-align: center;
}
.nombre-principal span{
    color:var(--secundario);
}

.contenedor-nav{
    border-top: 1px solid var(--opaco);
}

.navegacion{
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
}

.hero{
    background-image: url(/img/principal.jpg);
    height: 45rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* Categorias */

.categorias{
    margin-top: 5rem;
}

.listado-categorias{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.categorias h2{
    text-align: center;
}

.categoria a{
    display: block;
    text-align: center;
    padding: 1.5rem;
}

.categoria a:hover{
    background-color: var(--secundario);
    color: var(--blanco);
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

/* sobre nosotros */

.sobre-nosotros{
    background-image: linear-gradient(to right, transparent 50%, var(--secundario) 50%, var(--secundario) 100%), url(./img/nosotros.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 100%, 100rem;
    padding: 10rem 0;
}

.sobre-nosotros-flex{
    display: flex;
    justify-content: flex-end;
}

.sobre-nosotros-hijo{
    flex-basis: 50%;
    color: var(--blanco);
    padding-left: 5rem;
}

/* Listado de productos */

.contenido-principal{
    padding-top: 5rem;
    text-align: center;
}

.producto{
    background-color: var(--secundario);
}

.texto-producto{
    text-align: center;
    color: var(--blanco);
    padding: 2rem;
}

.texto-producto h3{
    margin: 0;
}

.texto-producto p{
    margin: 0 0 0.5rem 0;
}

.precio{
    font-weight: bold;
    font-size: 2.8rem;
}

.btn{
    background-color: burlywood;
    display: block;
    color: var(--blanco);
    text-transform: uppercase;
    font-weight: bold;
    padding: 1rem;
    transition: background-color .3s ease-out;
}

.btn:hover{
    background-color: goldenrod;
}

.listado-productos{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
}

.producto:nth-child(1){
    grid-column-start: 1;
    grid-column-end: 7;
}

.producto:nth-child(2){
    grid-column-start: 1;
    grid-column-end: 4;
}

.producto:nth-child(3){
    grid-column-start: 4;
    grid-column-end: 7;
}

.producto:nth-child(4){
    grid-column-start: 1;
    grid-column-end: 3;
}

.producto:nth-child(5){
    grid-column-start: 3;
    grid-column-end: 5;
}

.producto:nth-child(6){
    grid-column-start: 5;
    grid-column-end: 7;
}