/* Globales */

:root{
    --principal: black;
    --blanco: white;
    --secundario: darkcyan;
    --opaco: grey;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-family: 'Dosis', sans-serif;
    font-size: 1.3rem;
    line-height: 2;
}

a {
    text-decoration: none;
    color: var(--principal);
}

img{
    max-width: 100%;
    display: block;
}

.contenedor{
    max-width: 100rem;
    margin: 0 auto;
}

h1, h2, h3{
    font-family: 'Abril Fatface', cursive;
    margin: 0 0 2rem 0;
}

h1{
    font-size: 3rem;
}

@media (min-width: 768px){
    h1{
        font-size: 5rem;
    }
}

h2{
    font-size: 2.8rem;
}

@media (min-width: 768px){
    h2{
        font-size: 4rem;
    }
}

h3{
    font-size: 2rem;
}

@media (min-width: 768px){
    h3{
        font-size: 3rem;
    }
}


/* Header */

.nombre-principal{
    padding: 3rem;
    text-align: center;
}
.nombre-principal span{
    color:var(--secundario);
}

.contenedor-nav{
    border-top: 1px solid var(--opaco);
}

.navegacion{
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px){
    .navegacion{
        flex-direction: row;
        justify-content: space-between;
    }    
}

.hero{
    background-image: url(/img/principal.jpg);
    height: 25rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

@media (min-width: 768px){
    .hero{
        height: 45rem;
    }
}

/* Categorias */

.categorias{
    margin: 5rem 0;
}

.categoria{
    margin-bottom: 2rem;
}

@media (min-width: 758px){
    .categoria{
        margin-bottom: 0;
    }
}

.categoria img{
    width: 100%;
}

@media (min-width: 768px){
    .listado-categorias{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

.categorias h2{
    text-align: center;
}

.categoria a{
    display: block;
    text-align: center;
    padding: 1.5rem;
}

.categoria a:hover{
    background-color: var(--secundario);
    color: var(--blanco);
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

/* sobre nosotros */
.sobre-nosotros{
    background-image: linear-gradient(to bottom, transparent 50%, var(--secundario) 50%, var(--secundario) 100%), url(./img/nosotros.jpg);
    background-repeat: no-repeat;
    background-position: center, top left;
    background-size: 100%, 70rem;
}


@media (min-width: 768px){
    .sobre-nosotros{
        background-image: linear-gradient(to right, transparent 50%, var(--secundario) 50%, var(--secundario) 100%), url(./img/nosotros.jpg);
        background-position: left center;
        background-size: 100%, 100rem;
    }
}

.sobre-nosotros-flex{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 5rem;
}

@media (min-width: 768px){
    .sobre-nosotros-flex{
        display: flex;
        justify-content: flex-end;
    }
}

.sobre-nosotros-hijo{
    grid-row:  2 / 3;
    color: var(--blanco);
    padding: 5rem;
}

@media (min-width: 768px){
    .sobre-nosotros-hijo{
        flex-basis: 50%;
        color: var(--blanco);
        padding-left: 3rem;
    }
}

/* Listado de productos */

.contenido-principal{
    padding-top: 5rem;
    text-align: center;
}

@media (min-width: 768px){
    .listado-productos{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 1rem;
    }
    
    .producto:nth-child(1){
        grid-column-start: 1;
        grid-column-end: 7;
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
    
    .producto:nth-child(1) img {
        height: 45rem;
        width: 100%;
        object-fit: cover;
    }
    
    .producto:nth-child(2){
        grid-column-start: 1;
        grid-column-end: 4;
    }
    
    .producto:nth-child(2) img, 
    .producto:nth-child(3) img{
        height: 30rem;
        width: 100%;
        object-fit: cover;
    }
    
    .producto:nth-child(3){
        grid-column-start: 4;
        grid-column-end: 7;
    }
    
    .producto:nth-child(4){
        grid-column-start: 1;
        grid-column-end: 3;
    }
    
    .producto:nth-child(5){
        grid-column-start: 3;
        grid-column-end: 5;
    }
    
    .producto:nth-child(6){
        grid-column-start: 5;
        grid-column-end: 7;
    }
}

.producto{
    background-color: var(--secundario);
    margin-bottom: 2rem;
}

@media (min-width: 768px){
    .producto{
        margin-bottom: 0;
    }
}

.producto:last-of-type{
    margin-bottom: 0;
}

.texto-producto{
    text-align: center;
    color: var(--blanco);
    padding: 2rem;
}

.texto-producto h3{
    margin: 0;
}

.texto-producto p{
    margin: 0 0 0.5rem 0;
}

.precio{
    font-weight: bold;
    font-size: 2.8rem;
}

.btn{
    background-color: burlywood;
    display: block;
    color: var(--blanco);
    text-transform: uppercase;
    font-weight: bold;
    padding: 1rem;
    transition: background-color .3s ease-out;
    border: none;
    width: 100%;
}

@media (min-width: 768px){
    .btn{
        width: auto;
    }
}

.btn:hover{
    background-color: goldenrod;
    cursor: pointer;
}

/* Footer */

.site-footer{
    border-top: 1px solid grey;
    margin-top: 5rem;
    padding: 5rem 0 0 0;
}

.site-footer p{
    text-align: center;
}

@media (min-width: 768px){
    .site-footer p{
        text-align: left;
    }
    .copy p{
        text-align: center;
    }
}

.site-footer h3{
    display: block;
    margin-bottom: .5rem;
    text-align: center;
}

@media (min-width: 768px){
    .grid-footer{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
    .grid-footer > div{
        margin-bottom: 0;
    }
}

.grid-footer > div{
    margin-bottom: 2rem;
}

.copy{
    text-align: center;
    margin-top: 5rem;
}

/* Nosotros */
.contenido-nosotros{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 4rem;
}

.informacion-nosotros{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
}

@media (min-width: 768px){
    .informacion-nosotros{
        padding: 0;
    }
}

.informacion-nosotros p{
    text-align: justify;
}

/* Blog */
@media (min-width: 768px){
    .contenedor-blog{
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 4rem;
    }
}

.entrada-blog{
    padding: 0 2rem;
}

.entrada{
    border-bottom: 1px solid grey;
    padding-bottom: 4rem;
    margin-bottom: 2rem;
}

.entrada:last-of-type{
    border: none;
}

@media (min-width: 768px){
    .entrada-meta{
        display: flex;
        justify-content: space-between;
    }
}

.entrada-meta p{
    font-weight: bold;
}

.entrada-meta span{
    color: var(--secundario);
}

.entrada-blog p{
    text-align: justify;
    margin-bottom: 3rem;
}

.max-width-30{
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
}

li{
    text-align: left;
}

/* Galeria */

.galeria{
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

@media (min-width: 768px){
    .galeria{
        grid-template-columns: repeat(3, 1fr);
    }
}

.galeria img{
    width: 32rem;
    height: 32rem;
    object-fit: cover;
}

/* Formulario */

.formulario{
    max-width: 60rem;
    margin: 0 auto;
}

.formulario fieldset{
    border: .1rem solid rgba(128, 128, 128, 0.552);
    margin-bottom: 2rem;

}

.formulario legend{
    background-color: var(--secundario);
    width: 100%;
    color: var(--blanco);
    text-transform: uppercase;
    font-weight: bold;
    padding: .5rem;
    font-size: 1.8rem;
    margin-bottom: 3rem;
}

.campo{
    display: flex;
    margin-bottom: 2rem;
}

.campo label{
    flex-basis: 12rem;
    text-align: left;
}

.campo input:not([type="radio"]),
.campo textarea,
.campo select{
    flex: 1;
    border: .1rem solid rgba(128, 128, 128, 0.552);
    padding: 1rem;
}
